.block{
    background-color: #87fbff;
    width: 350px;
    border-width: 7px;
    border-left: solid blue 10px;
    text-align: center; 
    position: relative;


    padding-top: 10px;
    padding-bottom: 10px;
}
